@import url('media.css');
@import url('reset.css');

body{
    margin: 0;
    background-color: rgb(51, 51, 51);
}

.g-main{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.g-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.g-container__difficulty{
    justify-content: center;
    align-items: center;
    margin: 0.625rem;
}
h1{
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
}
.g-difficulty__level{
    display: flex;
    justify-content: center;    
    align-items: center;
    background-color: black;
    height: 100%;
    width: 100%;
    border-radius: 1.5rem;
    font-weight: bolder;
}
.level__btn{
    border: transparent;
    height: 100%;
    width: 100%;
    background-color: black;
    border-radius: 1.5rem;
    cursor: pointer;
    padding: 0.5rem;
    transition: .5s ease-in-out;

    h2{
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.5rem;
        transition: 0.5 ease-in-out;
    }
}
.level_btn--hovered{
    background-color: #fff;
    
    h2{
        color: black;
        transition: 0.5 ease-in-out;
    }
}

.g-container__score{
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: black;
    border-radius: 1.5rem;
    padding: 0.5rem;
    margin: 0.625rem;
}
.g-container__score h1, h2{
    font-size: 2rem;
    text-transform: uppercase;
}

.g-container-genius_genius{
    display: grid;
    grid-template-areas: 'green red' 'yellow blue';
    grid-gap: 0.625rem;
    border: 0.063rem solid #fff;
    background-color: #fff;
    border-radius: 100%;
    width: 43.75rem;
    height: 43.75rem;
    padding: 0.313rem;
}
.blue{
   grid-area: blue; 
   background-color: blue;
   border-bottom-right-radius: 100%;
   border: 0.5rem solid #2c2c2c;
   cursor: pointer;
}
.red{
    grid-area: red;
    background-color: red;
    border-top-right-radius: 100%;
    border: 0.5rem solid #2c2c2c;
    cursor: pointer;
}
.yellow{
    grid-area: yellow;
    background-color: yellow;
    border-bottom-left-radius: 100%;
    border: 0.5rem solid #2c2c2c;
    cursor: pointer;
}
.green{
    grid-area: green;
    background-color: green;
    border-top-left-radius: 100%;
    border:  0.5rem solid #2c2c2c;
    cursor: pointer;
}
.selected{
    box-shadow: inset 1rem 2rem 2rem #00000085;
    opacity: color 0.4;
}
