@import url('media.css');
@import url('reset.css');

body{
    margin: 0;
    background-color: rgb(51, 51, 51);
}

.g-main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.g-difficulty{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 1rem;

}
h1{
    font-size: 2rem;
    position: relative;
    text-transform: uppercase;
}
.g-difficulty__level{
    display: flex;
    justify-content: center;    
    align-items: center;
    position: absolute;
    top: 2.5rem;
    background-color: black;
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    font-weight: bolder;
}
.level__btn{
    border: transparent;
    height: 100%;
    width: 100%;
    background-color: black;
    border-radius: 2rem;
    cursor: pointer;
    padding: 6px;
    transition: .5s ease-in-out;

    h2{
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1rem;
        transition: 0.5 ease-in-out;
    }
}
.level_btn--hovered{
    background-color: #fff;
    
    h2{
        color: black;
        transition: 0.5 ease-in-out;
    }
}

.genius{
    display: grid;
    grid-template-areas: 'green red' 'yellow blue';
    grid-gap: 0.625rem;
    border: 0.063rem solid #fff;
    background-color: #fff;
    border-radius: 100%;
    width: 43.75rem;
    height: 43.75rem;
    padding: 0.313rem;
}
.blue{
   grid-area: blue; 
   background-color: blue;
   border-bottom-right-radius: 100%;
   border: 0.5rem solid #2c2c2c;
   cursor: pointer;
}
.red{
    grid-area: red;
    background-color: red;
    border-top-right-radius: 100%;
    border: 0.5rem solid #2c2c2c;
    cursor: pointer;
}
.yellow{
    grid-area: yellow;
    background-color: yellow;
    border-bottom-left-radius: 100%;
    border: 0.5rem solid #2c2c2c;
    cursor: pointer;
}
.green{
    grid-area: green;
    background-color: green;
    border-top-left-radius: 100%;
    border:  0.5rem solid #2c2c2c;
    cursor: pointer;
}
.selected{
    box-shadow: inset 1rem 0.5rem 2rem #00000085;
    opacity: color 0.4;
}
