@media (max-width: 2560px){
    .genius{
        width: 45rem;
        height: 45rem;
    }
    .main-game{
        margin-top: 4rem;
    }
}
@media (max-width: 1440px){
    .genius{
        width: 40rem;
        height: 40rem;
        margin-top: 2rem;
    }
}
@media (max-width: 1200px){
    .genius{
        width: 40rem;
        height: 40rem;
        margin-top: 1rem;
    }
}
@media (max-width: 1024px){
    .genius{
        width: 35rem;
        height: 35rem;
    }
}
@media (max-width: 768px){
    .genius{
        width: 30rem;
        height: 30rem;
    }
}
@media (max-width: 500px){
    .genius{
        width: 20rem;
        height: 20rem;
    }
}
@media (max-width: 350px){
    .genius{
        width: 15rem;
        height: 15rem;
    }
} 
